{% extends "base.html" %}
{% load static %}

{% block head %}
    <style>
        @media screen and (max-width: 576px) {
            .img-bg {
                display: none;
            }
            .text-col {
                text-align: center;
            }
        }
        @media screen and (max-width: 1920px) and (max-height: 1268px) {
            .img-bg {
                background-image: url('{% static '404_1920.jpg' %}');
            }
        }
        @media screen and (min-width: 1921px) and (max-width: 3840px), screen and (min-height: 1269px) and (max-height: 2538px) {
            .img-bg {
                background-image: url('{% static '404_3840.jpg' %}');
            }
        }
        @media screen and (min-width: 3841px), screen and (min-height: 2539px) {
            .img-bg {
                background-image: url('{% static '404.jpg' %}');
            }
        }
        .img-bg {
            background-size: cover;
            background-position: center center;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="row" style="min-height: 100vh; margin: 0">
        <div class="col d-flex align-items-center justify-content-center text-col">
            <div>
                <h1 class="display-1">404</h1>
                <h2>Zug nicht gefunden</h2>
                <br>
                <a href="/" class="btn btn-primary">Zur Startseite</a>
            </div>

        </div>
        <div class="col img-bg">
        </div>
    </div>
{% endblock %}
