<!DOCTYPE html>
<html lang="de">
<head>
    {% load static %}
    {% load compress %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FahrplanDatenGarten</title>

    {% compress css %}
        <link type="text/x-scss" href="{% static 'bulma-0.8.0/bulma.scss' %}" rel="stylesheet" media="screen">
        <link type="text/x-scss" href="{% static 'style.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}
    <script src="{% static "jquery.js" %}"></script>
    <script src="{% static "script.js" %}"></script>
    <link href="{% static "roboto/roboto.css" %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="{% static "favicon.ico" %}">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
    {% block head %}{% endblock %}
</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="/static/Fahrplan-Garten-Daten-Logo.png" height="28">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
           data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item {% if request.resolver_match.namespace == "verspaeti" %}is-active{% endif %}" href="{% url "verspaeti:index" %}">
                Home
            </a>

            <a class="navbar-item{% if request.resolver_match.namespace == "fgrfiller" %} is-active{% endif %}" href="{% url "fgrfiller:index" %}">
                Fahrgastrechte
            </a>
            <a class="navbar-item{% if request.resolver_match.namespace == "netzkarte" %} is-active{% endif %}" href="{% url "netzkarte:index" %}">
                Netzkarte
            </a>
        </div>
    </div>
</nav>
<main class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>
