<!DOCTYPE html>
<html lang="de">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FahrplanDatenGarten</title>
    <link type="text/css" href="{% static 'bulma/css/bulma.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static "roboto/roboto.css" %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="{% static "favicon.ico" %}">
    {% block head %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
