* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  background-color: #eeeeee;
  color: #333333;
  font-family: 'Noto Sans', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.center-vertical {
  vertical-align: center;
}

.top-vertical {
  vertical-align: top;
}

.flex-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex-list li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 1px;
          flex: 1 1 1px;
}

.border-box {
  border-color: #333333;
  border-width: 0.05em;
  border-radius: 2em;
  border-style: solid;
  margin: 0.25em;
  padding: 1em;
  background-color: #222222;
  color: #eeeeee;
}

.data {
  font-size: 2em;
  color: #EE1111;
  background-color: rgba(0, 0, 0, 0);
  font-style: italic;
}

.btn {
  margin: 1em 3em;
  padding: 0.25em;
}

.full-btn {
  width: 100%;
  padding: 1em 2em;
}

.lg-btn {
  margin: 1em 3em;
  padding: 1.5em 5em;
}

.ico-btn, .btn, .full-btn, .lg-btn {
  text-decoration: none;
  display: block;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  border: 0;
}

.ico-btn:active, .btn:active, .full-btn:active, .lg-btn:active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.ico-btn {
  margin: 1em;
  padding: 0.3em 0.1em;
}

.icon {
  padding: 0.25em;
  margin: 1em;
}

.btn-primary {
  color: #000000;
  background-color: #881111;
}

.btn-primary:hover {
  color: #000000;
  background-color: #EE1111;
}

.btn-active {
  color: #000000;
  background-color: #EE1111;
}

.round {
  border-radius: 1em;
}

.btn-transparent:hover {
  color: #333333;
  background-color: #aaaaaa;
}

.no-link {
  color: #333333;
  text-decoration: none;
}

.header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.25em;
  padding: 0.25em;
}

@media only screen and (max-width: 800px) {
  .flex-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .border-box {
    width: 100%;
  }
}

.center {
  text-align: center;
}

.content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  min-height: 100%;
}

.side-nav {
  margin: 0;
  margin-right: 1em;
  background-color: #222222;
  color: #eeeeee;
  padding: 2em 1em;
}

form.form-control {
  display: inline-block;
}

input.form-control {
  padding: 0.25em;
  margin: 0.5em 1em;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.25em;
  display: inline-block;
  background-color: #eeeeee;
  color: #333333;
  border: 0;
}
/*# sourceMappingURL=style.css.map */