[Unit]
Description=gunicorn daemon
After=network.target

[Service]
PIDFile=/run/gunicorn/pid
User=www-data
Group=www-data
RuntimeDirectory=gunicorn
WorkingDirectory=/opt/fdg/FahrplanDatenGarten
ExecStart=/opt/fdg/.venv/bin/gunicorn --pid /run/gunicorn/pid   \
          FahrplanDatenGarten.wsgi
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
