[submodule "FahrplanDatenGarten/netzkarte"]
	path = FahrplanDatenGarten/netzkarte
	url = https://github.com/FahrplanDatenGarten/deutschlandkarte-a-la-bahn
[submodule "ansible/roles/n0emis.base"]
	path = ansible/roles/n0emis.base
	url = https://github.com/n0emis/ansible-role-base
[submodule "ansible/roles/jnv.unattended-upgrades"]
	path = ansible/roles/jnv.unattended-upgrades
	url = https://github.com/jnv/ansible-role-unattended-upgrades
[submodule "ansible/roles/leona.oh-my-zsh"]
	path = ansible/roles/leona.oh-my-zsh
	url = https://git.n0emis.eu/leona/oh-my-zsh.git
[submodule "ansible/roles/geerlingguy.redis"]
	path = ansible/roles/geerlingguy.redis
	url = https://github.com/geerlingguy/ansible-role-redis.git
[submodule "ansible/roles/geerlingguy.postgresql"]
	path = ansible/roles/geerlingguy.postgresql
	url = https://github.com/geerlingguy/ansible-role-postgresql.git
[submodule "ansible/roles/n0emis.wireguard"]
	path = ansible/roles/n0emis.wireguard
	url = https://github.com/n0emis/ansible-wireguard.git
[submodule "ansible/roles/cloudalchemy.coredns"]
	path = ansible/roles/cloudalchemy.coredns
	url = https://github.com/leona-ya/ansible-coredns.git
[submodule "ansible/roles/fahrplandatengarten.icinga"]
	path = ansible/roles/fahrplandatengarten.icinga
	url = https://github.com/FahrplanDatenGarten/ansible-role-icinga
[submodule "ansible/roles/leona.caddy"]
	path = ansible/roles/leona.caddy
	url = https://git.n0emis.eu/leona/caddy.git
