[submodule "FahrplanDatenGarten/netzkarte"]
	path = FahrplanDatenGarten/netzkarte
	url = https://github.com/Jugendhackt/deutschlandkarte-a-la-bahn
[submodule "FahrplanDatenGarten/static/roboto"]
	path = FahrplanDatenGarten/static/roboto
	url = https://git.labcode.dev/static_libs/roboto.git
[submodule "FahrplanDatenGarten/static/bulma"]
	path = FahrplanDatenGarten/static/bulma
	url = https://git.labcode.dev/static_libs/bulma.git
[submodule "ansible/roles/n0emis.base"]
	path = ansible/roles/n0emis.base
	url = https://github.com/n0emis/ansible-role-base
[submodule "ansible/roles/jnv.unattended-upgrades"]
	path = ansible/roles/jnv.unattended-upgrades
	url = https://github.com/jnv/ansible-role-unattended-upgrades
[submodule "ansible/roles/em0lar.oh-my-zsh"]
	path = ansible/roles/em0lar.oh-my-zsh
	url = https://git.labcode.dev/ansible_roles/oh-my-zsh.git
