{% extends "base.html" %}

{% block content %}
    <h1 class="title is-1 has-text-centered">Fahrgastrechte</h1>
    <br>
    <div class="columns">
        <div class="column card is-6 is-offset-3">
            <div class="card-header">
                <p class="card-header-title">Ausfüllassistent - Zug auswählen</p>
            </div>
            <div class="card-content">
                <form id="assistant-form2" class="border-box form-control center"
                      action="{% url 'fgrfiller:assistant_pdf' %}" method="post">
                    <p>
                        Gewählte Verbindung: {{ journey.name }} - {{ journey.date }}
                        <a href="{% url 'fgrfiller:index' %}">ändern</a>
                    </p>
                    {% csrf_token %}
                    <div class="field">
                        <label class="label">Startbahnhof:</label>
                        <div class="select">
                            <select name="startstation" form="assistant-form2">
                                {% for station in journey.stop.all %}
                                    <option value="{{ station.pk }}"
                                            {% if forloop.first %}selected{% endif %}>{{ station.stopname_set.all.first.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Zielbahnhof:</label>
                        <div class="select">
                            <select name="endstation" form="assistant-form2">
                                {% for station in journey.stop.all %}
                                    <option value="{{ station.pk }}"{% if forloop.last %}
                                            selected{% endif %}>{{ station.stopname_set.all.first.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <input type="hidden" name="journey" id="journey" value="{{ journey.pk }}">
                    <button class="button is-primary" type="submit">Formular generieren</button>
                    <button class="button is-warning" type="button" onclick="document.querySelector('#assistant-form2').action='{% url 'fgrfiller:assistant_multihop' %}'; document.querySelector('#assistant-form2').submit()">Zug hinzufügen</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
