{% extends "base_with_navbar.html" %}
{% load static %}
{% load bootstrap4 %}

{% block head %}
    <style>
        .col-auto.auto-expand {
            flex-grow: 1;
            flex-shrink: 1;
        }
    </style>
{% endblock %}

{% block content %}
    <h1 class="title is-1 has-text-centered">Fahrgastrechte</h1>
    <br>
    <div class="jumbotron">
        <form id="assistant-form2" class=""
              action="{% url 'fgrfiller:pdf' %}" method="post">
            {% csrf_token %}
            {% bootstrap_field form.travel_date %}
            <div class="row">
                <div class="col-lg-6">
                    {% bootstrap_field form.departure_stop_name %}
                </div>
                <div class="col-lg-6">
                    {% bootstrap_field form.departure_planned_time %}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    {% bootstrap_field form.arrival_stop_name %}
                </div>
                <div class="col-lg-6">
                    {% bootstrap_field form.arrival_planned_time %}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    {% bootstrap_field form.arrival_actual_date %}
                </div>
                <div class="col-lg-6">
                    {% bootstrap_field form.arrival_actual_time %}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    {% bootstrap_field form.arrival_actual_product_type %}
                </div>
                <div class="col-lg-6">
                    {% bootstrap_field form.arrival_actual_product_number %}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    {% bootstrap_field form.first_delayed_train_product_type %}
                </div>
                <div class="col-lg-6">
                    {% bootstrap_field form.first_delayed_train_product_number %}
                </div>
            </div>
            {% bootstrap_field form.first_delayed_train_departure_planned %}
            <div class="form-row mt-4">
                <div class="col-auto">
                    {% bootstrap_field form.changed_train %}
                </div>
                <div class="col-auto auto-expand">
                    {% bootstrap_field form.changed_train_last_station %}
                </div>
            </div>
            <div class="form-row mt-2">
                <div class="col-auto">
                    {% bootstrap_field form.connecting_train_missed %}
                </div>
                <div class="col-auto auto-expand">
                    {% bootstrap_field form.connecting_train_missed_station %}
                </div>
            </div>
            <div class="form-row mt-2">
                <div class="col-auto">
                    {% bootstrap_field form.journey_not_start_or_cut_short %}
                </div>
                <div class="col-auto auto-expand">
                    {% bootstrap_field form.journey_not_start_or_cut_short_station %}
                </div>
            </div>
            <div class="form-row mt-2">
                <div class="col-auto">
                    {% bootstrap_field form.journey_cut_short_additional_costs %}
                </div>
                <div class="col-auto auto-expand">
                    {% bootstrap_field form.journey_cut_short_additional_costs_station %}
                </div>
            </div>
            {% bootstrap_field form.compensation %}
            <h4>Optional:</h4>
            <div class="row">
                <div class="col-lg-6">
                    {% bootstrap_field form.first_name %}
                </div>
                <div class="col-lg-6">
                    {% bootstrap_field form.last_name %}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    {% bootstrap_field form.academic_title %}
                </div>
                <div class="col-lg-6">
                    {% bootstrap_field form.company %}
                </div>
            </div>
            {% bootstrap_field form.telephone_number %}
            {% bootstrap_field form.address_c_o_extra_details %}
            <div class="row">
                <div class="col-lg-5">
                    {% bootstrap_field form.address_street %}
                </div>
                <div class="col-lg-4">
                    {% bootstrap_field form.address_house_nr %}
                </div>
                <div class="col-lg-3">
                    {% bootstrap_field form.address_country %}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    {% bootstrap_field form.address_postal_code %}
                </div>
                <div class="col-lg-6">
                    {% bootstrap_field form.address_city %}
                </div>
            </div>
            {% bootstrap_field form.bahncard_100_season_ticket %}
            <div class="row">
                <div class="col-lg-6">
                    {% bootstrap_field form.bahncard_100_season_ticket_number %}
                </div>
                <div class="col-lg-6">
                    {% bootstrap_field form.date_of_birth %}
                </div>
            </div>
            {% buttons %}
                <button class="btn btn-primary" type="submit">Abschicken</button>
            {% endbuttons %}
        </form>
    </div>
    <script src="{% static 'fgrfiller.js' %}"></script>
{% endblock %}
