{% extends "base.html" %}

{% block content %}
    <h1 class="title is-1 has-text-centered">Fahrgastrechte</h1>
    <br>
    <div class="columns">
        <div class="column card is-5">
            <div class="card-header">
                <p class="card-header-title">Ausfüllassistent - Buchungsnummer</p>
            </div>
            <div class="card-content">
                <form id="assistant-form" class="" action="{% url 'fgrfiller:bookingnr_assistant_1' %}" method="post">
                    {% csrf_token %}
                    <div class="field">
                        <label class="label">Buchungsnummer:</label>
                        <div class="control">
                            <input type="text" name="buchungsnummer" class="input">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Nachname:</label>
                        <div class="control">
                            <input type="text" name="nachname" class="input">
                        </div>
                    </div>
                    <div class="has-text-centered">
                        <button class="button is-primary" type="submit">Weiter</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="column card is-5 is-offset-2">
            <div class="card-header">
                <p class="card-header-title">Manuell ausf&uuml;llen</p>
            </div>
            <div class="card-content has-text-centered">
                <button class="button is-primary">Weiter</button>
            </div>
        </div>
    </div>
{% endblock %}
