{% extends "base_with_navbar.html" %}
{% load bootstrap4 %}

{% block content %}
    <h1 class="title is-1 has-text-centered">Fahrgastrechte</h1>
    <br>
    <div class="row">
        <div class="col-lg-6">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-title">Ausfüllassistent - Buchungsnummer</h4>
                    {% if assistant_order_number_form_error %}
                        <div class="notification is-danger">
                            DB-Fehler: {{ assistant_order_number_form_error }}
                        </div>
                    {% endif %}
                    <form id="assistant-form" class="" action="{% url 'fgrfiller:bookingnr_assistant_1' %}" method="post">
                        {% csrf_token %}
                        {% bootstrap_form assistant_order_number_form %}
                        {% buttons %}
                            <button type="submit" class="btn btn-primary">
                                Weiter
                            </button>
                        {% endbuttons %}
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card border-secondary">
                <div class="card-body">
                    <h4 class="card-title">Manuell aufüllen</h4>
                    <a href="{% url 'fgrfiller:manual' %}" class="btn btn-primary mx-auto">Weiter</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
