# hetzner secondary ns
(hetzner) {
    ## ns1.first-ns.de
    transfer to 213.239.242.238
    transfer to 2a01:4f8:0:a101::a:1
    ## robotns2.second-ns.de
    transfer to 2a01:4f8:d0a:2004::2
    transfer to 213.133.105.6
    ## robotns3.second-ns.com
    transfer to 2001:67c:192c::add:a3
    transfer to 193.47.99.3
    ## hydrogen.ns.hetzner.com
    transfer to 213.133.100.98
    transfer to 2a01:4f8:0:1::add:1098
    ## oxygen.ns.hetzner.com
    transfer to 88.198.229.192
    transfer to 2a01:4f8:0:1::add:2992
    ## helium.ns.hetzner.de
    transfer to 193.47.99.5
    transfer to 2001:67c:192c::add:5
}

fahrplandatengarten.de {
    root /etc/coredns/zones
    file db.fahrplandatengarten.de {
        import hetzner
    }
}

. {
    bind 127.0.0.1 ::1
    forward . {{ coredns_default_forward_server }} {
        except fahrplandatengarten.de
    }
    cache {
        success 5120 3600 300
    }
}
