{% extends "base.html" %}

{% block content %}
    <h2 class="is-size-1-fullhd has-text-centered">Fahrgastrechte</h2>
    <br>
    <div class="columns">
        <div class="column card is-5">
            <div class="card-header">
                <p class="card-header-title">Ausfüllassistent - Zug auswählen</p>
            </div>
            <div class="card-content">
                <form id="assistant-form" class="" action="{% url 'fgrfiller:assistant_1' %}" method="post">
                    <div class="notification is-warning">
                        Zur Zeit werden nur Verbindungen ohne Umstieg unterstützt!
                    </div>
                    {% csrf_token %}
                    <div class="field">
                        <label class="label">Reisedatum:</label>
                        <div class="control">
                            <input type="date" name="date" class="input">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Zugtyp:</label>
                        <div class="select">
                            <select name="traintype">
                                <option value="ICE">ICE</option>
                                <option value="IC">IC</option>
                            </select>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Zugnummer:</label>
                        <div class="control">
                            <input type="text" name="trainnum" class="input">
                        </div>
                    </div>
                    <button class="button is-primary" type="submit">Weiter</button>
                </form>
            </div>
        </div>
        <div class="column card is-5 is-offset-2">
            <div class="card-header">
                <p class="card-header-title">Manuell ausf&uuml;llen</p>
            </div>
            <div class="card-content">
                <form id="full-form" class="border-box form-control center top-vertical"
                      action="{% url 'fgrfiller:pdf' %}"
                      method="post">
                    {% csrf_token %}
                    <div class="field">
                        <label class="label">Reisedatum:</label>
                        <div class="control">
                            <input type="date" name="date" class="input">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Startbahnhof:</label>
                        <div class="control">
                            <input type="text" class="input" name="startstation">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Endbahnhof:</label>
                        <div class="control">
                            <input type="text" class="input" name="endstation">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Abfahrt laut Fahrplan:</label>
                        <div class="control">
                            <input type="time" class="input" name="starttime">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Ankunft laut Fahrplan:</label>
                        <div class="control">
                            <input type="time" class="input" name="endtime">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Echtes Ankunftsdatum:</label>
                        <div class="control">
                            <input type="date" name="arrivaldate" class="input">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Zug:</label>
                        <div class="control">
                            <input type="text" name="arrivaltrain" class="input">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Uhrzeit:</label>
                        <div class="control">
                            <input type="time" name="arrivaltime" class="input">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Erster versp&auml;teter Zug:</label>
                        <input type="text" name="firsttrainid" class="input">
                    </div>
                    <div class="field">
                        <label class="label">Abfahrt des ersten versp&auml;teten Zugs:</label>
                        <input type="time" class="input" name="firsttraintime">
                    </div>
                    <div class="control">
                        <button class="button is-primary" type="submit">Abschicken</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
