{% extends "base_with_navbar.html" %}

{% block head %}
    <style>
        .journey-card.details-open {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
        .is-loading {
            color: #48c774 !important;
            cursor: progress;
        }
    </style>
{% endblock %}

{% block content %}
    <h1 class="title is-1 has-text-centered">Zugdetails zu {{ train_name }}</h1>
    <p class="has-text-centered">Letzte planm&auml;&szlig;ige Strecke: <b>{{ trip.from }} - {{ trip.to }}</b></p>
    <br>
    <div class="row">
        <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-title">Verspätungsentwicklung (kurzzeitig)</h4>
                    <img src="{{ delay_graph_url }}" width="100%" alt="">
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-title">Langzeitverspätungsentwicklung</h4>
                    <img src="{{ long_term_delay_graph_url }}" width="100%" alt="">
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        {% for journey in journeys %}
            <div class="col-lg-4 col-md-6 journey-card">
                <div class="card border-secondary mb-5">
                    <div class="card-header">
                        {{ journey.date }}{% if journey.cancelled %} - entfallen{% endif %}
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <b>Verspätung maximal:</b> {{ journey.maximum_delay }} min<br>
                            <b>Verspätung Durchschnitt:</b> {{ journey.average_delay }} min<br>
                            <div class="card-content-details"></div>
                        </p>
                    </div>
                    <div class="card-footer">
                        <a data-detailsapiurl="{% url 'details:traindetailsapidetails' journey.id %}" class="card-link journey-card-details-open">Details</a>
                        <a class="card-link journey-card-details-close d-none">Zur&uuml;ck zur &Uuml;bersicht</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <br>
    <div>
        <ul class="pagination justify-content-center">
            {% if paginator_page.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'details:traindetailsbyname' train_name '1' %}">1</a>
                </li>
                {% if paginator_page.number > 2 %}
                    <li class="page-item disabled">
                        <span class="page-link">&hellip;</span>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="{% url 'details:traindetailsbyname' train_name paginator_page.number|add:-1 %}">{{ paginator_page.number|add:-1 }}</a>
                    </li>
                {% endif %}
            {% endif %}
            <li class="page-item active">
                <a class="page-link">{{ paginator_page.number }}</a>
            </li>
            {% if paginator_page.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'details:traindetailsbyname' train_name paginator_page.next_page_number %}">{{ paginator_page.next_page_number }}</a>
                </li>
                {% if paginator_page.number|add:1 < paginator_page.paginator.num_pages %}
                    <li class="page-item disabled">
                        <span class="page-link">&hellip;</span>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="{% url 'details:traindetailsbyname' train_name paginator_page.paginator.num_pages %}">{{ paginator_page.paginator.num_pages }}</a>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
    </div>
    <script>
        const open_details_links_elements = document.getElementsByClassName('journey-card-details-open');
        for (let i = 0; i < open_details_links_elements.length; i++) {
            open_details_links_elements[i].addEventListener('click', openDetails);
        }
        const close_details_links_elements = document.getElementsByClassName('journey-card-details-close');
        for (let i = 0; i < close_details_links_elements.length; i++) {
            close_details_links_elements[i].addEventListener('click', closeDetails);
        }

        function openDetails(e) {
            e.preventDefault();
            e.target.classList.add("is-loading");
            const xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState === 4 && this.status === 200) {
                    const json_response = JSON.parse(this.responseText);
                    const journey_card_element = e.target.closest('.journey-card');
                    journey_card_element.classList.add('details-open');
                    const journey_card_content_details = journey_card_element.querySelector('.card-content-details');
                    journey_card_content_details.innerHTML = ""
                    json_response.stops.forEach((stop) => {
                        if(stop.cancelled) {
                            journey_card_content_details.innerHTML += `<span><b>${stop.name}</b>: ENTFALLEN - geplant: ${stop.planned_time || "keine Daten"}</span></br>`
                        } else {
                            journey_card_content_details.innerHTML += `<span><b>${stop.name}</b>: ${stop.actual_time !== null ? stop.actual_time : "keine Daten"} (+${stop.actual_delay_mins !== null ? stop.actual_delay_mins : "?"} min) - geplant: ${stop.planned_time !== null ? stop.planned_time : "keine Daten"}</span></br>`
                        }
                    })
                    e.target.classList.remove("is-loading");
                    e.target.classList.add("d-none");
                    journey_card_element.querySelector('.journey-card-details-close').classList.remove('d-none')
                }
            };
            xhttp.open("GET", e.target.dataset.detailsapiurl, true);
            xhttp.send();
        }
        function closeDetails(e) {
            e.preventDefault();
            const journey_card_element = e.target.closest('.journey-card');
            e.target.classList.add("d-none");
            journey_card_element.querySelector('.card-content-details').innerHTML = ""
            journey_card_element.classList.remove('details-open');
            journey_card_element.querySelector('.journey-card-details-open').classList.remove('d-none')
        }
    </script>
{% endblock %}
