{% extends "base.html" %}

{% block content %}
    <h1 class="title is-1 has-text-centered">Zugdetails zu {{ train_name }}</h1>
    <p class="has-text-centered">Letzte planm&auml;&szlig;ige Strecke: <b>{{ trip.from }} - {{ trip.to }}</b></p>
    <br>
    <div class="columns">
        <div class="column card">
            <div class="card-header">
                <div class="card-header-title">Verspätungsentwicklung (kurzzeitig)</div>
            </div>
            <div class="card-content">
                <img src="{{ delay_graph_url }}" alt="">
            </div>
        </div>
        <div class="column card is-offset-1">
            <div class="card-header">
                <div class="card-header-title">Langzeitverspätungsentwicklung</div>
            </div>
            <div class="card-content">
                <img src="{{ long_term_delay_graph_url }}" alt="">
            </div>
        </div>
    </div>
    <br>
    <div class="columns is-multiline">
        {% for journey in journeys %}
            <div class="column card is-one-quarter-desktop is-one-third-tablet" style="margin: 50px 4.15% 0">
                <div class="card-header">
                    <div class="card-header-title">{{ journey.date }}{% if journey.cancelled %} - entfallen{% endif %}</div>
                </div>
                <div class="card-content">
                    Verspätung maximal: <b>{{ journey.maximum_delay }} min</b><br>
                    Verspätung Durchschnitt: <b>{{ journey.average_delay }} min</b>
                </div>
                <footer class="card-footer">
                    <a href="#" class="card-footer-item">Details</a>
                </footer>
            </div>
        {% endfor %}
    </div>
    <br>

{% endblock %}
