.datetimepicker-dummy .datetimepicker-dummy-wrapper {
    border: 1px solid #dbdbdb;
    border-radius: 4px;
}
.datetimepicker-dummy .datetimepicker-dummy-wrapper:hover {
    border: 1px solid #b5b5b5;
}
.datetimepicker-clear-button {
    display: none;
}
.datetimepicker-footer button {
    font-size: 1rem !important;
}
.card .columns {
    margin-bottom: 0;
}
.card .control-checkbox {
    max-width: 50%;
}