<div class="flex-column">
    <div class="side-nav">
        <h1>Home</h1>
        <img src="Fahrplan-Garten-Daten-Logo.png" width="200" height="200">
        <br>
        <a class="ajax-link full-btn btn-active" href="./views/en/home.html">Home</a>
        <a class="ajax-link full-btn btn-primary" href="./views/en/form.html">Form</a>
    </div>
    <div id="quick-stats" class="full-width">
        <h2>Quick statistics</h2>
        <ul class="flex-list top-vertical content-center center">
            <li class="border-box">
                Verspätungen heute:
                <canvas id="train-percentage-chart" width="400" height="400"></canvas>
            </li>
            <li class="border-box">
                <p>Zug Nummer</p>
                <div id="most-number" class="data">ERROR</div>
                <p>ist</p>
                <div id="most-minutes" class="data">ERROR</div>
                <p>Minuten zu spät und damit der verspäteste Zug der letzten 24h!</p>
            </li>
            <li class="border-box">
                <p>Alle Züge sind durchschnittlich</p>
                <div class="data">
                    <span id="average-minutes">ERROR</span>:<span id="average-seconds">ERROR</span>
                </div>
                <p>Minuten zu spät!</p>
            </li>
        </ul>
    </div>
</div>