[general]
database_url = sqlite:///../db.sqlite3
debug = True
secret_key = ALONGRANDOMSTRING_PLEASECHANGETHISSTRING
time_zone = Europe/Berlin
static_root = pathtostaticroot
allowed_hosts = host1,host2

[celery]
result_backend = redis://localhost/0
broker_url = redis://localhost/0

[caching]
backend = django.core.cache.backends.filebased.FileBasedCache
location = /var/cache/fdg