[general]
database_url = sqlite:///../db.sqlite3
debug = True
secret_key = ALONGRANDOMSTRING_PLEASECHANGETHISSTRING
time_zone = Europe/Berlin
static_root = pathtostaticroot

[celery]
result_backend = redis://localhost/0
broker_url = redis://localhost/0