Unattended-Upgrade::Mail "webmaster@labcode.de";
Unattended-Upgrade::Origins-Pattern {
    "origin=*";
};

// List of packages to not update (regexp are supported)
Unattended-Upgrade::Package-Blacklist {
//	"vim";
};
Unattended-Upgrade::MailOnlyOnError "true";