{% extends "base_with_navbar.html" %}

{% block content %}
    <h1>Statistik</h1>
    <br>
    {% if error_message %}
        <div class="notification is-warning">
            {{ error_message }}
        </div>
    {% else %}
        <div class="row">
            <div class="col-lg-4">
                <div class="card border-secondary mb-3" style="max-width: 20rem;">
                    <div class="card-body">
                        <h4 class="card-title">Höchste Verspätung</h4>
                        <p class="card-text">
                            <b>{{ biggest_delay_name }}</b> ist <b>{{ biggest_delay_time }}</b> Minuten zu spät und damit
                            der verspäteste Zug der letzten 24h!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card border-secondary mb-3" style="max-width: 20rem;">
                    <div class="card-body">
                        <h4 class="card-title">Verspätung heute</h4>
                        <img width="100%" src="data:image/png;base64,{{ plot_image_base64 }}"/>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card border-secondary mb-3" style="max-width: 20rem;">
                    <div class="card-body">
                        <h4 class="card-title">Durchschnittsverspätung</h4>
                        <p class="card-text">
                            Alle Z&uuml;ge der letzten 24h sind durchschnittlich <b>{{ average_delay }}</b> Minuten zu spät!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
